<div class="example-container">
  <!-- TOOLBAR -->
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Responsive App</h1>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a routerLink="perfil" mat-menu-item>
        <mat-icon>person</mat-icon><span>Ver Perfil</span>
      </a>

      <button mat-menu-item>
        <span (click)="logout()">
          <mat-icon>cancel</mat-icon>Cerrar Sesión
        </span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <!-- MENU DINAMICO -->
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav fixedTopGap="80">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel *ngFor="let item of categoryData">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>{{item.icon}}</mat-icon>{{item.name}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-action-row class="separate" *ngFor="let item2 of item.views">
            <a mat-button color="primary" routerLink="panel/{{item2.route}}">
              <mat-icon>{{item2.icon}}</mat-icon>{{item2.name}}
            </a>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>