.contenedor {
    margin: 3rem;
    text-align: center;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

mat-card-header{
    text-align: center;
}
mat-label{
    font-style: italic;
    font-size: 1rem;
}