<form class="form-cont" [formGroup]="categoryForm" (ngSubmit)="update()">
    <h2 mat-dialog-title>Agregar Nueva Categoria</h2>
    <mat-dialog-content class="mat-typography">
        <div class="cont-input">
            <mat-form-field appearance="fill">
                <input matInput placeholder="Name" type="text" name="name" required formControlName="name"/>
                <mat-error *ngIf="categoryForm.controls['name'].hasError('required') && (categoryForm.controls['name'].dirty || 
                categoryForm.controls['name'].touched)">It's required field</mat-error>
                <mat-error *ngIf="categoryForm.controls['name'].hasError('minlength')">Name must be at least 5 characters long.</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <input matInput placeholder="Icon" type="text" name="icon" required formControlName="icon"/>
                <mat-error *ngIf="categoryForm.controls['icon'].hasError('required') && (categoryForm.controls['icon'].dirty || 
                categoryForm.controls['icon'].touched)">It's required field</mat-error>
                <mat-error *ngIf="categoryForm.controls['icon'].hasError('maxlength')">Name must be at max 15 characters long.</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <input matInput placeholder="Level" type="text" name="level" required formControlName="level"/>
                <mat-error *ngIf="categoryForm.controls['level'].hasError('required') && (categoryForm.controls['level'].dirty || 
                categoryForm.controls['level'].touched)">It's required field</mat-error>
                <mat-error *ngIf="categoryForm.controls['level'].hasError('pattern')">Only Numbers.</mat-error>
            </mat-form-field>
            <br>
        </div>
        <br>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" color="primary" [disabled]="categoryForm.invalid"
            type="submit">Agregar</button>
    </mat-dialog-actions>
</form>